{% extends 'base.html' %}
{% block content%}
<!-- Header-->

<body>
    <section id="hero">
        <div class="hero-container">
            <h3>Welcome to <strong>Smart Farm</strong></h3>
            <h2>"Empowering Agriculture, Enabling Tomorrow: Your Future Harvest Starts Here!</h2>
            <a href="{% url 'about' %}" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- section -->
    <main id="main">
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                    <h3>We do offer awesome <span>Services</span></h3>
                    <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                        atque vitae autem.</p>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a href="">Product Delivery</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Nutrition Guides</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Farming Guides</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="cta" class="cta">
            <div class="container">
                <div class="text-center">
                    <h3>Sign up Today</h3>
                    <p>
                        Transform your farming experience today! Join us for smarter, sustainable agriculture. Start Growing, Start
                        Thriving—Explore the Future of Farming with Us! </p>
                    <a class="cta-btn" href="{% url 'register' %}">Sign Up</a>
                </div>
            </div>
        </section>

    
    </main>
</body>

<script src="/static/js/main.js"></script>



{% endblock%}