<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{%url 'home' %}">Smart Farm</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link " href="{% url 'search' %}">Search</a></li>
        <li><a class="nav-link " href="{% url 'about' %}">About</a></li>
        <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'category' 'Fruits' %}">Fruits</a></li>
            <li><a href="{% url 'category' 'Animal-Produce' %}">Animal Produce</a></li>
            <li><a href="{% url 'category' 'Vegetables' %}">Vegetables</a></li>
            <li><a href="{% url 'category' 'Cereals' %}">Cereals</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'update_user'%}">User Profile</a></li>
            <li><a href="{% url 'update_info'%}">User Info</a></li>
            <li><a href="{% url 'logout'%}">Logout</a></li>
            <form class="d-flex">
              <button class="btn btn-outline-dark" type="submit">
                <a href="{% url 'cart_sum'%}" class="btn btn-outline-dark">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
              </button>
              </a>

            </form>
          </ul>
          {%else%}
        <li><a href="{% url 'login'%}">Login</a></li>
        <li><a href="{% url 'register'%}">Sign Up</a></li>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>


    </nav>

  </div>
</header>